<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0" class="">

   {% include header.html %}
   {{content}}
   {% include footer.html %}
   <main class="main">
      <div class="products">
      {{ content }}
      </div>
      </main>
</body>
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
<div id="snipcart" data-api-key="NjAyMGM4MTYtNTc2MS00NDY2LTk4ZTEtMDhiMWEyOWVkZjViNjM4Mjg4MTAzNzAzMzc1OTc1" hidden></div>
</html>